--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.11.0+cpu
torchaudio==2.11.0+cpu
torchvision==0.26.0+cpu
einops==0.8.2
librosa==0.11.0
faiss-cpu==1.13.2
huggingface_hub==1.10.0
scikit-learn==1.8.0
transformers==5.5.1
spotipy==2.26.0
